In [50]:
import pandas as pd
import os

In [51]:
path = "C:/Users/chahi/Desktop"
file = "Laboratorio5/operacionesmayo.csv"
pathdata = os.path.join(path,file)

In [52]:
data2 = pd.read_csv(pathdata)

In [53]:
Ventas2020y2021 = data2.iloc[0:15,1:3]
Ventas2020y2021.head(20)

    Ventas2020  Ventas2021
0       200000        1000
1       150000           0
2       178500        3000
3        50000        5000
4            0         500
5        75000           0
6       198000        2000
7        25000        6000
8       300000           0
9       150000        1500
10       80000           0
11      250000       50000
12       10000       50000
13       98000        2000
14        3500           0

In [54]:
Suma2020y2021 = Ventas2020y2021['Ventastotales'] = Ventas2020y2021.sum(axis=1)
Suma2020y2021

0     201000
1     150000
2     181500
3      55000
4        500
5      75000
6     200000
7      31000
8     300000
9     151500
10     80000
11    300000
12     60000
13    100000
14      3500
dtype: int64

In [55]:
SumaTotal = Suma2020y2021.sum()
SumaTotal

1889000

In [56]:
dummy_metas = pd.get_dummies(data2["MetaCumplida"], prefix="MetaCumplida")
dummy_metas.head(20)

    MetaCumplida_No  MetaCumplida_Yes
0                 0                 1
1                 0                 1
2                 0                 1
3                 1                 0
4                 1                 0
5                 1                 0
6                 0                 1
7                 1                 0
8                 0                 1
9                 0                 1
10                1                 0
11                0                 1
12                1                 0
13                1                 0
14                0                 1
15                0                 1

In [58]:
#Guardar
newnamefile="Laboratorio5/NuevoExcel"
data2.to_csv(path+"/"+newnamefile+".csv")